<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAVE </title>

    <!--Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.icon') }}" type="image/x-icon">


    <!--Boxicons Sidebar -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">


</head>

<body>

    <!-- Static Sidebar -->
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/Logo.png') }}" class="logo">
            </div>

            <div class="date-picker-container">
                <label for="date-picker">Datum wählen:</label>
                <input type="date"
                       class="date-picker"
                       id="date-picker"
                       name="date"
                       min="{{ min_date }}"
                       max="{{ vorgestern }}"
                       value="{{ vorgestern }}"
                       required />
                <!-- Kommentar zum min und max Attribut -->
            </div>




            <!-- Container to hold clusters' Wikipedia articles -->
            <div id="cluster-container">
                <!-- Cluster information will be populated dynamically here -->
            </div>

        </div>

    </div>


    <div id="home" class="home">
        <!-- Map on Homepage -->
        <div id="map"></div>

        # TODO style page


    </div>




        <script type="module" src="static/js/request_flask.js"></script>


</body>


</html>