.main-container {
    flex: 1;
    background-color: #2b343f;
    color: white;
    padding: 40px;
    overflow-y: auto;
    margin-left: 275px;
    margin-top: 20px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 40px); /* Adjusts the height to fill the viewport, leaving room for top and bottom margins */
}



/* Underline title in wiki article in main container */
#wiki-article h2 {
    text-decoration: underline;
    margin-bottom: 20px;
}

/* Increase the spacing of the summary text */
#wiki-article p {
    margin-top: 20px;
    line-height: 1.6;
}


/* ================================
   Slider Timeseries
=================================== */
/* Distance to top edge */
.slider-wrapper {
    width: 100%;
    margin: 80px 0;
}

#multi-range-slider {
    margin: 0 15px;
}

.timeline-axis {
    position: relative;
    height: 20px;
    margin-top: 10px;
}

.timeline-axis span {
    position: absolute;
    white-space: nowrap;
    transform: translateX(-50%);
    font-size: 12px;
}

.timeline-axis span::before {
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background-color: #999;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}


.year-label {
    font-size: 12px;
    color: #666;
}

.month-label {
    font-size: 10px;
    color: #666;
}






.noUi-tooltip {
    cursor: pointer;
}

.date-picker-input {
    position: absolute;
    z-index: 1000;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



/* Style for the visualization output container */
.output-container {
    background-color: #2b343f; /* Match the main container background */
    color: black; /* Ensure text is visible */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    overflow-x: auto; /* Handle horizontal overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Style for titles inside the visualization output container */
.output-container h2,
.output-container h3 {
    color: white; /* Set the text color to white */
    font-weight: bold; /* Make the title bold */
    margin-bottom: 10px; /* Add spacing below the title */
}

.output-container p {
    line-height: 1.6; /* Improve readability */
    margin: 10px 0;
}